---
layout: compress
---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:url" content="https://paromint.com/">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="https://paromint.com/assets/img/icons/favicon-194x194.png">
  <meta property="og:site_name" content="{{ page.title }}">
  <meta property="og:description" content="{{ site.description }}">

  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ site.description }}">
  <meta itemprop="image" content="https://paromint.com/assets/img/icons/favicon-194x194.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="https://paromint.com/assets/img/icons/favicon-194x194.png">

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.seo.keywords }}">
  <link rel="canonical" href="https://paromint.com/">

  <link rel="apple-touch-icon" sizes="57x57" href="https://paromint.com/assets/img/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://paromint.com/assets/img/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://paromint.com/assets/img/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://paromint.com/assets/img/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://paromint.com/assets/img/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://paromint.com/assets/img/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://paromint.com/assets/img/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://paromint.com/assets/img/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://paromint.com/assets/img/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="https://paromint.com/assets/img/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://paromint.com/assets/img/icons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="https://paromint.com/assets/img/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://paromint.com/assets/img/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://paromint.com/assets/img/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://paromint.com/assets/js/manifest.json">
  <meta name="msapplication-TileImage" content="https://paromint.com/assets/img/icons/mstile-144x144.png">

  {% include css.html %}


</head>

<body class="bg-light">

  {% include navigation.html %}
  <main class="overflow-hidden">
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
    {% include google-analytics.html %}
  </main>
</body>

</html>